.modal-image {
  width: 80%;
}

.user-profile-image {
  border-radius: 50%;
  margin: 1rem;
}
.heart-icon {
  cursor: pointer;
}
.close-button {
  justify-self: flex-end;
}
.author-info {
  display: flex;
  align-items: center;
}
.photo-info {
  display: flex;
  gap: 1rem;
}

