input:hover {
  cursor: pointer;
}

.users-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.submit-confirmation-open {
  color: rgb(22, 155, 26);
  opacity: 1;
  transition: 200ms ease-in;
}
.submit-confirmation-close {
  color: rgb(22, 155, 26);
  opacity: 0;
  transition: 200ms ease-in;
}

.errorMessage {
  color: rgb(201, 40, 40);
}
