.register-form {
  display: grid;
  gap: 1rem;
  max-width: 800px;
}

input:hover {
  cursor: pointer;
}

.users-container {
  display: flex;
  flex-wrap: wrap;
}

.errorMessage {
  color: rgb(201, 40, 40);
}